.card {
    height: 100px;
    width: 50%;

    background-color: #252525;
    color: #fff;

    border-radius: 10px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    filter: drop-shadow(0 0.4rem 0.4rem #0000002f);
}

.card strong {
    font-size: 18px;
}